
.page-1 {
	background-image: url($p_1);
	background-position: 50% 50%;
	.hgroup-1 {
		position: relative;
		margin-top: 1vh;
		font-size: 1.92vh;
		width: 100%;
		text-align: center;
		h2 {
			font-size: 2.9em;
			margin-bottom: 0;
		}
		h4 {
			max-width: 15.1em;
			margin: 0 auto;
			font-size: 1.62em;
		}
	}
}

.page-2 {

	.img-container {
		max-height: 61vh;
		width: 89vh;
		max-width: 100%;
		margin: auto;
		overflow: hidden;
	}

	.p-container {
		p {
			max-width: 18.05em;
			font-size: 2.4vh;
			line-height: 1.3;
			margin: auto;
		}
	}

}

.page-3 {
	.img-container {
		max-height: 50%;
		overflow: hidden;
		width: 89vh;
		max-width: 100%;
		margin: auto;
		img {
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			width: 110%;
		}
	}
	.full-text {
		padding-top: 2.4vh;
		padding-bottom: 2.4vh;
		margin-top: auto;
		margin-bottom: auto;
	}
}


.page-5 {
	background-image: url($p_5);
	// background-position: 10% 50%;
	.text {
		position: absolute;
		width: auto;
		color: #fff;
		font-size: 2.3vh;
		bottom:0;
		right: 0;
		font-style: italic;
		line-height: 1.35;
	}
}
.page-6 {
	.img-container {
		max-height: 40vh;
		overflow: hidden;
		width: 89vh;
		max-width: 100%;
		margin: auto;
		img {
			width: 110%;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.full-text {
		padding-top: 2vh;
		padding-bottom: 2vh;
		margin-top: auto;
		margin-bottom: auto;
	}
}

.page-7 {
	.full-text {
		padding-top: 2vh;
		padding-bottom: 2vh;
		p {
			font-size: 2.3vh;
		}
	}
}

.page-8 {
	.img-container {
		max-height: 40vh;
		width: 60vh;
		max-width: 100%;
		margin: auto;
		overflow:hidden;
	}
	.full-text {
		padding-top: 2vh;
		padding-bottom: 2vh;
		margin-top: auto;
		margin-bottom: auto;
	}
}

.page-9 {

	.img-container {
		max-height: 55vh;
		width: 60vh;
		max-width: 100%;
		margin: auto;
		overflow:hidden;
	}

}


.page-10 {
	.img-container {
		height: 60vh;
		overflow: hidden;
		width: 89vh;
		max-width: 100%;
		margin: auto;
		img {
			position: absolute;
			width: 115%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}


.page-11 {

	.full-text {
		// display: block;
		p {
			// margin-bottom: 3.5vh;
			font-size: 2.45vh;
		}
	}

}

.page-12 {

	.img-container {
		overflow: hidden;
		max-height: 48vh;
		img {
			width: 140%;
			max-width: 89vh;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	
	.full-text {
		padding-top: 2.5vh;
		padding-bottom: 2.5vh;
	}
}

.page-13 {
	.full-text {
		p {
			font-size: 2.45vh;
		}
	}
}
// .page-12 {
// 	.full-text {
// 		padding-top: 6vh;
// 		padding-bottom: 6vh;
// 	}
	// .full-text {
	// 	display: block;
	// 	height: auto;
	// 	flex-grow: 0;
	// 	top: 50%;
	// 	transform: translate(-50%,-50%);
	// 	column-count: 2;
	// 	column-gap: 4vh;
	// 	text-align: justify;
	// 	p {
	// 		margin-bottom: 4vh;
	// 	}
	// }
// }

// .page-12 {

// 	.img-container {
// 		max-height: 45vh;
// 		overflow: hidden;
// 		width: 89vh;
// 		max-width: 100%;
// 		margin: auto;
// 		img {
// 			position: relative;
// 			left: 50%;
// 			transform: translateX(-50%);
// 			width: 110%;
// 		}
// 	}
// 	.full-text {
// 		padding-top: 2.2vh;
// 		padding-bottom: 2.2vh;
// 		margin-top: auto;
// 		margin-bottom: auto;
// 	}

// }

.page-14 {
	.full-text {
		padding-top: 2.5vh;
		padding-bottom: 2.5vh;
		h5 {
			font-size: 2.5vh;
		}
		p {
			font-size: 2.18vh;
		}
	}
}